<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta charset="UTF-8">
    <title>注册</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>
<div class="container">
    <div>
        <form class="form-horizontal" method="post" action="{% url 'main:register-result' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for='username' class="control-label col-sm-2">用户名：</label>
                <div class=" col-sm-6">
                    <input type="text" id="username" name="username" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="control-label col-sm-2">密码：</label>
                <div class=" col-sm-6">
                    <input type="password" class="form-control" name="password" id="password"/>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="control-label col-sm-2">邮箱：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="email" name="email">
                </div>
            </div>
            <div class="col-sm-offset-2">
                <button class="btn btn-default">注册</button>
            </div>

        </form>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>
