<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta charset="UTF-8">
    <title>编辑</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>
<div class="container">
    <div>
        <p>
        <h1>编辑笔记</h1></p><br><br>

        <form class="form-default" action="{% url 'blog:submit' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" placeholder="标题" name="title" id="title">
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="20" placeholder="内容" name="content" id="content"></textarea>
            </div>
            <div class="form-group">
                <label class="control-label" for="group">分组:</label>
                <select class="form-control" id="group" name="group">
                </select>
            </div>

            <div class="form-group">
                <p class="text-danger">{{error_message}}</p>
            </div>

            <div class="form-group">
                <button class="btn btn-default">保存</button>
            </div>
        </form>
    </div>
</div>
<script>
</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>