<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta charset="UTF-8">
    <title>分组管理</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
        body{
        background-color:#eeeeee;
        }
        .main-wrapper{
        background-color:white;
        }
    </style>
</head>

<body>
<div>
    <h1>分组管理</h1>
    <div class="container" id="main-wrapper">

        {% for group in group_list %}
        <div>
            <p>{{group.name}}</p>
            <hr/>
        </div>
        {% endfor%}
        <form class="form-horizontal">
            <div class="form-group">
                <label for="group_name" class="control-label col-sm-1">组名: </label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="group_name" name="group_name">
                </div>
                <button class="btn btn-default col-sm-1" type="button" id="add_group_btn">添加</button>
            </div>
        </form>
    </div>
</div>
<script>
    $(function(){
        $('#add_group_btn').click(function(){

        });
    })
</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>